.app {
  border: 3px solid #607d8b;
  display: flex;
  justify-content: space-around;
}

.list,
.checkout {
  width: 50%;
  border: 5px solid #cfd8dc;
  padding: 20px;
}

ul li {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

ul li button {
  border: none;
  border-radius: 50%;
  background-color: #3949ab;
  color: #fff;
  height: 32px;
  width: 32px;
  font-size: 20px;
}
